/* Tipografía */
body {
    font-family: 'Arial', sans-serif;
  }
  
  h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
  }
  
  p, li {
    font-family: 'Arial', sans-serif;
    opacity: 80%;
  }
  
  .modal-title, .btn {
    font-family: 'Raleway', sans-serif;
  }
  
  /* Colores principales */
  body {
    background-color: #ffffff; /* Gris claro para fondo */
  }
  
  h1, h2, h3, h4 {
    color: #009D80; /* Verde FFT */
  }

  .text-justify {
    text-align: justify;
  }
  
  .navbar, footer {
    background-color: #575756; /* Gris FFT */
    color: white;
  }
  
  /* Botones */
  .btn-primary {
    background-color: #009D80;
    border-color: #009D80;
  }

  .btn-primary:hover {
    background-color: #006b57;
    border-color: #006b57;
  }
  
  .btn-secondary {
    background-color: #D0D0D0;
    border-color: #D0D0D0;
  }

  .btn-secondary:hover {
    background-color: #575756;
    border-color: #575756;
  }

  /* Estilo para el enlace activo en el navbar */
  .navbar-nav .nav-link.active {
    font-weight: bolder;
    color: #009D80 !important; /* Verde FFT */
  }

  .a-breadcrumb-item {
    font-size: small;
    color: #009D80;
  }
  

  @media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
  }




  /* Para pantallas grandes */
  @media (min-width: 768px) {
  .custom-img {
    max-height: 80vh; /* Aplica max-height solo en pantallas grandes - Main Banner picture*/
    }
  } 

  /* Ajuste del logo en pantallas xxl */
  @media (min-width:1650px) {
    .linelogo-img{
      min-width: 55vh;
    }
  }

  .featurette-divider {
    margin: 2rem 0; /* Space out the Bootstrap <hr> more */
  }

  .featurette-title {
    margin-top: 1rem;
    opacity: 90%;
    font-size: xx-large;
  }

  .featurette-title2 {
    margin-top: 1rem;
    opacity: 90%;
    font-size: x-large;
  }
